body {
    color: white;
    background-color: #1d1d1d;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#yomogi {
    font-family: "Yomogi";
}

#coolvetica {
    font-family: 'CoolveticaRg-Regular', sans-serif;
    letter-spacing: 1px;
}

.lessspace {
    line-height: 0.6;
}

#plswork h2, #plswork h3 {
    display: inline-block;
    margin-right: 0.2em;
}

#roundbox {
    border-radius: 21px;
    border-width: 0.7px;
    border-color:#2d2d2d;
    border-style: solid;
    padding-left: 9.2em;
    padding-right: 9.2em;
    padding-bottom: 8.2em;
    box-shadow: 0 0 15px 2px #2d2d2d;
    background-color: #030303;
}

.asteroid {
    width: 80px;
    height: 76px;
    position: absolute;
    filter: invert(100%);
    left: 38%;
    top: 4%;
    overflow-x: hidden;
    overflow-y: hidden;
}

.nameimage h1 {
    text-align: center;
}

.nameimage h3 {
    text-align: center;
}

.centeredtext {
    text-align: center;
}

ul {
    list-style-position: inside;
}

footer .footerhr {
    width: 75%;
}

footer p {
    text-align: center;
}

a img {
    border: 0;
    outline: none;
    border-style: none;
    text-decoration: none;
}

a img:hover {
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}

a:link {
    color:#000000;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color:#000000;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color:#555555;
    background-color: transparent;
    text-decoration: none;
}

a:active {
    color:#000000;
    background-color: transparent;
    text-decoration: none;
}